body{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 60px 0px;

    font-family: 'Roboto', sans-serif;

    background: #E5E5E5;
}
.header{
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: fixed;
    top: 0px;

   
    width: 100%;
    height: 69px;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .header-title{
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;

    color: #FFFFFF;
}
.my-quizzes{
      padding-top: 160px;
}
.my-quizzes-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  
    gap: 20px 0px;

    width: 1051px;
    height: 181px;

    background: #FAFAFA;
    border: 2px dashed #D5D5D5;
    border-radius: 5px;
}

.my-quizzes-empty span{
    width: 250px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B9B9B9;
}

.my-quizzes-empty .create-quizz{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 151px;
    height: 40px;

    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;

    color: #EC362D;

    background: #FAFAFA;
    border: 2px dashed #EC362D;
    border-radius: 50px;
}

.create-quizz:hover{
    cursor: pointer;
}

.all-quizzes-container{
    padding-bottom: 200px;
    width: 1051px;
}

.all-quizzes-container .all-quizzes-title{
    padding-bottom: 15px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.all-quizzes-container .all-quizzes{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 15px;
}

.all-quizzes .quizz-box{
    position: relative;

    width: 340px;
    height: 181px;

    border-radius: 5px;
}

.quizz-box h3{
    position: absolute;
    left: 15px;
    bottom: 7px;

    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;

    color: #FFFFFF;
}

